.name {
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* width: 60%; */
  margin-top: 20px;
  width: 50vw;
}

.body {
  background-color: #074770;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

button {
  height: 35px;
  width: 100px;
  border-radius: 15px;
  margin-top: 29px;
}

.right {
  width: 10vw;
}

input[type="text"] {
  width: 120px;
}
