.body {
  color: #123043;
  /* height: 87%; */
  /* overflow-y: scroll; */
  background: white;
  height: 330px;
}

.appBody {
  background: white;
  /* height: 95%; */
  padding-left: 15px;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.latlon {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.routeBn {
  background-color: #074770;
  color: white;
  border-radius: 15px;
  width: 95%;
  height: 40px;
}
